In [2]:
# Data generation function - this is not part of the task, and is only to simulate pulling from a SQL database
# Don't worry about changing this - it's just to make the notebook a little easier!
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification
from sklearn.preprocessing import MinMaxScaler
import string

def collect_from_database(query: str) -> pd.DataFrame:
    print(f"Executing: {query}")
    n_rows = 10_000
    n_features = 16
    features, labels = make_classification(
        n_samples = n_rows,
        n_features = 16,
        n_informative = 7,
        n_redundant = 4,
        n_repeated = 3,
        n_classes = 2,
        class_sep = 1.2,
        flip_y = 0.035, # Randomly invert y for added noise
        weights = [0.85,0.15],
        random_state = 1889,
    )
    df = pd.DataFrame(features, columns=[f'numeric_{i+1}' for i in range(n_features)])
    df.insert(value=labels, loc=0, column='claim_status')
    df = df.rename(columns={
        'numeric_1': 'age',
        'numeric_2': 'height_cm',
        'numeric_3': 'weight_kg',
        'numeric_4': 'income',
        'numeric_5': 'financial_hist_1',
        'numeric_6': 'financial_hist_2',
        'numeric_7': 'financial_hist_3',
        'numeric_8': 'financial_hist_4',
        'numeric_9': 'credit_score_1',
        'numeric_10': 'credit_score_2',
        'numeric_11': 'credit_score_3',
        'numeric_12': 'insurance_hist_1',
        'numeric_13': 'insurance_hist_2',
        'numeric_14': 'insurance_hist_3',
        'numeric_15': 'insurance_hist_4',
        'numeric_16': 'insurance_hist_5',
    })
    df['age'] = MinMaxScaler(feature_range=(18, 95)).fit_transform(df['age'].values[:, None])
    df['age'] = df['age'].astype('int')
    df['height_cm'] = MinMaxScaler(feature_range=(140, 210)).fit_transform(df['height_cm'].values[:, None])
    df['height_cm'] = df['height_cm'].astype('int')
    df['weight_kg'] = MinMaxScaler(feature_range=(45, 125)).fit_transform(df['weight_kg'].values[:, None])
    df['weight_kg'] = df['weight_kg'].astype('int')
    df['income'] = MinMaxScaler(feature_range=(0, 250_000)).fit_transform(df['income'].values[:, None])
    df['income'] = df['income'].astype('int')
    df['credit_score_1'] = MinMaxScaler(feature_range=(0, 999)).fit_transform(df['credit_score_1'].values[:, None])
    df['credit_score_1'] = df['credit_score_1'].astype('int')
    df['credit_score_2'] = MinMaxScaler(feature_range=(0, 700)).fit_transform(df['credit_score_2'].values[:, None])
    df['credit_score_2'] = df['credit_score_2'].astype('int')
    df['credit_score_3'] = MinMaxScaler(feature_range=(0, 710)).fit_transform(df['credit_score_3'].values[:, None])
    df['credit_score_3'] = df['credit_score_3'].astype('int')
    df['bmi'] = (df['weight_kg']/((df['height_cm']/100)**2)).astype('int')
    df['gender'] = np.where(
        df['claim_status'] == 0,
        np.random.choice([1, 0], size=(n_rows), p=[0.46, 0.54]),
        np.random.choice([1, 0], size=(n_rows), p=[0.52, 0.48])
        )
    df['marital_status'] = np.random.choice(['A', 'B', 'C', 'D', 'E', 'F'], size=(n_rows), p=[0.2, 0.15, 0.1, 0.25, 0.15, 0.15])
    df['occupation'] = np.random.choice(['A', 'B', 'C', 'D', 'E', 'F', 'G'], size=(n_rows))
    df['location'] = np.random.choice(list(string.ascii_uppercase), size=(n_rows))
    df['prev_claim_rejected'] = np.where(
        df['claim_status'] == 0,
        np.random.choice([1, 0], size=(n_rows), p=[0.08, 0.92]),
        np.random.choice([1, 0], size=(n_rows), p=[0.16, 0.84])
        )
    df['known_health_conditions'] = np.random.choice([1, 0], size=(n_rows), p=[0.06, 0.94])
    df['uk_residence'] = np.random.choice([1, 0], size=(n_rows), p=[0.76, 0.24])
    df['family_history_1'] = np.random.choice([1, 0], size=(n_rows), p=[0.22, 0.78])
    df['family_history_2'] = np.random.choice([1, 0], size=(n_rows), p=[0.25, 0.75])
    df['family_history_3'] = np.random.choice([1, None, 0], size=(n_rows), p=[0.12, 0.81, 0.07])
    df['family_history_4'] = np.random.choice([1, 0], size=(n_rows), p=[0.27, 0.73])
    df['family_history_5'] = np.random.choice([1, 0], size=(n_rows), p=[0.31, 0.69])
    df['product_var_1'] = np.random.choice([1, 0], size=(n_rows), p=[0.38, 0.62])
    df['product_var_2'] = np.random.choice([1, 0], size=(n_rows), p=[0.55, 0.45])
    df['product_var_3'] = np.random.choice(['A', 'B', 'C', 'D'], size=(n_rows), p=[0.23, 0.28, 0.31, 0.18])
    df['product_var_4'] = np.random.choice([1, 0], size=(n_rows), p=[0.76, 0.24])
    df['health_status'] = np.random.randint(1, 5, size=(n_rows))
    df['driving_record'] = np.random.randint(1, 5, size=(n_rows))
    df['previous_claim_rate'] = np.where(
        df['claim_status'] == 0,
        np.random.choice([1, 2, 3, 4, 5], size=(n_rows), p=[0.48, 0.29, 0.12, 0.08, 0.03]),
        np.random.choice([1, 2, 3, 4, 5], size=(n_rows), p=[0.12, 0.28, 0.34, 0.19, 0.07]),
    )
    df['education_level'] = np.random.randint(0, 7, size=(n_rows))
    df['income level'] = pd.cut(df['income'], bins=5, labels=False, include_lowest=True)
    df['n_dependents'] = np.random.choice(
        [1, 2, 3, 4, 5], size=(n_rows), p=[0.23, 0.32, 0.27, 0.11, 0.07]
    )
    df['employment_type'] = np.random.choice(
        [1, None, 0], size=(n_rows), p=[0.16, 0.7, 0.14]
    )
    return df

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
dataset_from_database = collect_from_database(
    "SELECT * FROM CLAIMS.DS_DATASET"
)
dataset_from_database.head(10)

Executing: SELECT * FROM CLAIMS.DS_DATASET

,claim_status,age,height_cm,weight_kg,income,financial_hist_1,financial_hist_2,financial_hist_3,financial_hist_4,credit_score_1,credit_score_2,credit_score_3,insurance_hist_1,insurance_hist_2,insurance_hist_3,insurance_hist_4,insurance_hist_5,bmi,gender,marital_status,occupation,location,prev_claim_rejected,known_health_conditions,uk_residence,family_history_1,family_history_2,family_history_3,family_history_4,family_history_5,product_var_1,product_var_2,product_var_3,product_var_4,health_status,driving_record,previous_claim_rate,education_level,income level,n_dependents,employment_type
0,0,49,182,80,155292,1.408797,-0.573517,-0.464914,3.249624,519,216,259,2.753861,1.408797,-0.464914,1.783368,2.252154,24,1,D,G,C,0,0,1,0,1,None,1,0,1,1,D,0,1,2,1,3,3,5,None
1,0,55,185,86,169232,2.402368,1.135213,0.780797,3.075214,500,264,226,2.192865,2.402368,0.780797,-0.863512,3.295261,25,1,D,G,O,1,0,1,0,1,None,0,0,0,0,B,1,4,1,1,2,3,2,None
2,0,55,169,82,173856,-1.182139,0.337877,1.754185,1.932426,422,240,417,-2.597654,-1.182139,1.754185,-1.356670,3.641282,28,1,D,C,L,1,0,1,0,0,None,0,0,1,1,C,0,2,3,1,4,3,3,None
3,0,43,179,76,150264,1.107481,-1.123652,1.966727,-0.130857,297,195,364,-0.834488,1.107481,1.966727,0.062683,1.875967,23,0,F,F,O,0,0,0,0,0,None,1,0,0,1,A,1,4,2,1,4,3,3,1
4,0,56,167,86,118449,-0.985055,-0.604696,-0.650367,-1.329931,440,366,411,-2.465348,-0.985055,-0.650367,-1.712912,-0.504719,30,0,C,E,X,0,0,1,0,0,None,1,0,1,1,C,1,4,4,4,0,2,4,0
5,0,47,184,89,147966,-0.532343,1.668309,1.672834,1.083610,423,261,364,-1.405664,-0.532343,1.672834,0.136838,1.704017,26,0,D,A,P,0,0,1,0,0,None,0,0,0,1,C,1,2,4,1,6,2,3,None
6,0,58,161,64,124218,-1.594298,-0.059563,-2.565507,-1.216361,392,257,421,-1.918273,-1.594298,-2.565507,-0.233744,-0.072997,24,1,F,A,G,0,1,1,0,1,1,0,1,0,0,C,1,2,1,3,6,2,1,0
7,0,55,170,96,109517,-0.867955,-1.461820,-0.543154,-1.298344,430,416,418,-2.956699,-0.867955,-0.543154,0.718029,-1.173080,33,1,F,E,C,0,0,0,0,0,None,0,1,1,0,B,0,1,1,1,4,2,5,0
8,0,55,166,87,182091,-2.868900,-0.193578,2.230964,2.590524,349,232,509,-5.318313,-2.868900,2.230964,-1.992737,4.257501,31,0,F,D,W,0,0,1,0,0,None,0,1,0,1,D,0,4,4,3,5,3,2,None
9,0,52,166,78,171201,-2.935281,1.091528,1.392789,2.102653,417,200,479,-3.635915,-2.935281,1.392789,0.306106,3.442609,28,0,F,C,M,0,0,1,0,0,None,0,0,0,0,D,1,3,1,1,0,3,3,None

In [5]:
df = dataset_from_database
df.shape

(10000, 41)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   claim_status             10000 non-null  int64
 1   age                      10000 non-null  int64
 2   height_cm                10000 non-null  int64
 3   weight_kg                10000 non-null  int64
 4   income                   10000 non-null  int64
 5   financial_hist_1         10000 non-null  float64
 6   financial_hist_2         10000 non-null  float64
 7   financial_hist_3         10000 non-null  float64
 8   financial_hist_4         10000 non-null  float64
 9   credit_score_1           10000 non-null  int64
 10  credit_score_2           10000 non-null  int64
 11  credit_score_3           10000 non-null  int64
 12  insurance_hist_1         10000 non-null  float64
 13  insurance_hist_2         10000 non-null  float64
 14  insurance_hist_3         10000 non-null  float64
 15  insurance_hist_4         10000 non-null  float64
 16  insurance_hist_5         10000 non-null  float64
 17  bmi                      10000 non-null  int64
 18  gender                   10000 non-null  int64
 19  marital_status           10000 non-null  object
 20  occupation               10000 non-null  object
 21  location                 10000 non-null  object
 22  prev_claim_rejected      10000 non-null  int64
 23  known_health_conditions  10000 non-null  int64
 24  uk_residence             10000 non-null  int64
 25  family_history_1         10000 non-null  int64
 26  family_history_2         10000 non-null  int64
 27  family_history_3         1905 non-null   object
 28  family_history_4         10000 non-null  int64
 29  family_history_5         10000 non-null  int64
 30  product_var_1            10000 non-null  int64
 31  product_var_2            10000 non-null  int64
 32  product_var_3            10000 non-null  object
 33  product_var_4            10000 non-null  int64
 34  health_status            10000 non-null  int64
 35  driving_record           10000 non-null  int64
 36  previous_claim_rate      10000 non-null  int64
 37  education_level          10000 non-null  int64
 38  income level             10000 non-null  int64
 39  n_dependents             10000 non-null  int64
 40  employment_type          3044 non-null   object
dtypes: float64(9), int64(26), object(6)
memory usage: 3.1+ MB

In [7]:
df.describe()

,claim_status,age,height_cm,weight_kg,income,financial_hist_1,financial_hist_2,financial_hist_3,financial_hist_4,credit_score_1,credit_score_2,credit_score_3,insurance_hist_1,insurance_hist_2,insurance_hist_3,insurance_hist_4,insurance_hist_5,bmi,gender,prev_claim_rejected,known_health_conditions,uk_residence,family_history_1,family_history_2,family_history_4,family_history_5,product_var_1,product_var_2,product_var_4,health_status,driving_record,previous_claim_rate,education_level,income level,n_dependents
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,0.160300,55.039300,173.505800,83.356200,132872.011200,-1.023891,-0.003358,0.025945,-0.205794,509.915400,321.847700,367.787700,-1.257548,-1.023891,0.025945,-0.010185,0.574538,27.438600,0.470000,0.091500,0.062100,0.760200,0.210900,0.240500,0.264400,0.31150,0.380900,0.545800,0.755400,2.501900,2.503800,2.017700,3.028700,2.158600,2.492800
std,0.366902,11.400419,9.492954,10.164578,27549.069678,1.839791,1.002904,1.914435,1.749407,131.398632,109.355047,89.906033,2.584183,1.839791,1.914435,0.997751,2.061424,4.512235,0.499124,0.288333,0.241349,0.426983,0.407968,0.427408,0.441035,0.46313,0.485632,0.497923,0.429871,1.121036,1.118441,1.130183,1.996115,0.594543,1.162963
min,0.000000,18.000000,140.000000,44.000000,0.000000,-8.583399,-4.104262,-6.548560,-7.145413,0.000000,0.000000,0.000000,-11.689421,-8.583399,-6.548560,-3.748580,-9.367965,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
25%,0.000000,47.000000,167.000000,77.000000,115272.250000,-2.199278,-0.682141,-1.337211,-1.404103,422.000000,241.000000,314.000000,-2.918812,-2.199278,-1.337211,-0.698795,-0.742429,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2.000000
50%,0.000000,56.000000,174.000000,83.000000,131053.000000,-1.077485,0.000427,0.036578,-0.695804,504.000000,315.000000,373.000000,-1.552376,-1.077485,0.036578,0.007717,0.438427,27.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,1.000000,3.000000,3.000000,2.000000,3.000000,2.000000,2.000000
75%,0.000000,63.000000,180.000000,90.000000,149238.250000,0.063002,0.663915,1.385526,0.864790,592.000000,399.000000,425.000000,0.229803,0.063002,1.385526,0.681366,1.799174,30.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.00000,1.000000,1.000000,1.000000,4.000000,4.000000,3.000000,5.000000,2.000000,3.000000
max,1.000000,95.000000,209.000000,125.000000,249999.000000,6.416568,4.167967,6.851550,8.092358,999.000000,699.000000,710.000000,12.970816,6.416568,6.851550,4.336629,9.338882,51.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,4.000000,4.000000,5.000000,6.000000,4.000000,5.000000

In [9]:
df['claim_status'].sum()

np.int64(1603)

In [1]:
import xgboost